.practice {
    padding: 50px 0;
    .title-practice {
        color: #f798ff;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        @media all and (max-width: 430px) {
            font-size: 30px;
        }
    }
    .btn-download {
        text-align: center;
        padding-bottom: 50px;
        button {
            background: linear-gradient(93.28deg, #b464d5 2.09%, #7751d2 62.14%, #4a37be 103.6%);
            border-radius: 5px;
            align-items: center;
            a {
                color: #fff;
                text-decoration: none;
                display: flex;
                align-items: center;
                padding: 5px;
                font-size: 20px;
                font-weight: 700;
                img {
                    @media all and (max-width: 430px) {
                        width: 15px;
                    }
                }
                span {
                    padding-left: 10px;
                    @media all and (max-width: 430px) {
                        padding-left: 5px;
                    }
                }
                @media all and (max-width: 430px) {
                    font-size: 14px;
                }
            }
        }
        .app-store {
            margin-left: 20px;
            @media all and (max-width: 430px) {
                padding: 4px 5px;
            }
        }
        @media all and (max-width: 430px) {
            padding-bottom: 20px;
        }
    }
    .list-test {
        box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.1);
        padding: 30px 45px;
        .section-current {
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            background: #7e67f2;
            border-radius: 10px 10px 0px 0px;
            padding: 10px 15px;
            width: fit-content;
            @media all and (max-width: 430px) {
                font-size: 14px;
            }
        }
        .test-detail {
            font-size: 18px;
            .test-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 15px;
                padding: 7px;
                .dot {
                    font-size: 12px;
                    color: #7e67f2;
                    // flex: 1;
                    width: 40px;
                    @media all and (max-width: 430px) {
                        font-size: 10px;
                    }
                }
                .name {
                    flex: auto;
                    font-weight: 600;
                    @media all and (max-width: 1025px) {
                        flex: 10;
                    }
                    a {
                        text-decoration: none;
                        color: #29313a;
                    }
                }
                .question-number {
                    flex: 15;
                    color: #797979;
                    font-weight: 400;
                    @media all and (max-width: 1025px) {
                        flex: auto;
                        text-align: center;
                    }
                }
                .test-progress {
                    flex: 0.4;
                    text-align: right;
                    color: #8447e7;
                    font-weight: 600;
                    padding: 10px 55px;
                    background: #f3f0ff;
                    border-radius: 5px;
                    width: fit-content;
                    @media all and (max-width: 1025px) {
                        padding: 10px 25px;
                    }
                    @media all and (max-width: 430px) {
                        padding: 10px;
                    }
                }
            }
            @media all and (max-width: 1025px) {
                font-size: 14px;
            }
            @media all and (max-width: 430px) {
                font-size: 12px;
            }
        }
        @media all and (max-width: 430px) {
            padding: 10px;
        }
        .show-more {
            text-align: right;
            .btn-show-more {
                background-color: #7e67f2;
                color: #fff;
                font-size: 10px;
                font-weight: 700;
                font-style: italic;
                border-radius: 7px;
            }
        }
        .non-active {
            display: none;
        }
    }
    .section, .section-mb {
        background: #ffffff;
        box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.1);
        border-radius: 0px;
        margin-top: 40px;
        text-align: center;
        .section-parent {
            .topic {
                padding: 25px 0;
                font-size: 24px;
                font-weight: 700;
                color: #333333;
                text-transform: uppercase;
                border-bottom: 1px solid #f3f3f3;
                @media all and (max-width: 1025px) {
                    padding: 15px 0;
                    font-size: 17px;
                }
            }
        }
        .list-section {
            padding: 30px 0;
            .section-child {
                .section-item {
                    font-size: 18px;
                    font-weight: 700;
                    padding: 12px 0;
                    margin: 0 20px 15px;
                    background: #ededff;
                    border-radius: 10px;
                    a {
                        text-decoration: none;
                        color: #655ba3;
                    }
                    a:visited {
                        color: #655ba3;
                    }
                    @media all and (max-width: 1025px) {
                        padding: 10px 0;
                        margin: 0 10px 10px;
                        font-size: 12px;
                    }
                    @media all and (max-width: 430px) {
                        margin: 0 10% 10px;
                    }
                }
            }
            .section-active {
                .section-item {
                    background: #a168ff;
                    a {
                        color: #fff !important;
                    }
                }
            }
            @media all and (max-width: 1025px) {
                padding: 15px 0;
            }
        }
    }
    .section {
        @media all and (max-width: 430px) {
            display: none;
        }
    }
    .section-mb {
        display: none;
        @media all and (max-width: 430px) {
            display: block;
        }
    }

    .other-practice {
        background: #ffffff;
        box-shadow: 0px 4px 30px rgba(95, 73, 118, 0.1);
        border-radius: 0px;
        text-align: center;
        // margin-top: 40px;
        .title {
            font-size: 24px;
            font-weight: 700;
            padding: 25px 0;
            color: #333333;
            text-transform: uppercase;
            border-bottom: 1px solid #f3f3f3;
            @media all and (max-width: 1025px) {
                padding: 15px 0;
                font-size: 17px;
            }
        }
        .practice-child {
            padding: 25px 0;
            .practice-item {
                display: flex;
                text-align: center;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 700;
                margin: 0 25px 15px;
                font-size: 20px;
                font-weight: 700;
                .name {
                    flex: 2;
                    text-align: left;
                    padding: 12px 20px;
                    border-right: none !important;
                    @media all and (max-width: 1025px) {
                        padding: 10px 5px;
                    }
                    @media all and (max-width: 430px) {
                        padding: 10px 15px;
                    }
                }
                .btn-join {
                    flex: 1;
                    padding-top: 12px;
                    align-items: center;
                    border-radius: 0 7px 7px 0;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                }
                @media all and (max-width: 1025px) {
                    margin: 0 10px 10px;
                    font-size: 12px;
                }
                @media all and (max-width: 430px) {
                    margin: 0 10% 10px;
                }
            }
            .vocabulary {
                .name {
                    border: 2px solid #f2c94c;
                    border-radius: 10px 0 0 10px;
                }
                .btn-join {
                    background-color: #f2c94c;
                }
            }
            .grammar {
                .name {
                    border: 2px solid #a9acfd;
                    border-radius: 10px 0 0 10px;
                }
                .btn-join {
                    background-color: #a9acfd;
                }
            }
            .practice-test {
                .name {
                    border: 2px solid #ff7bea;
                    border-radius: 10px 0 0 10px;
                }
                .btn-join {
                    background-color: #ff7bea;
                }
            }
            .active {
                display: none;
            }
            @media all and (max-width: 1025px) {
                padding: 15px 0;
            }
        }
    }
    @media all and (max-width: 430px) {
        padding: 20px 0;
    }
}
